* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#apsara_header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}


#apsara_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
}

#apsara_menu hr {
    width: 20px;
    border: none;
    margin: 2px;
    height: 3px;
    background-color: black;
}

#apsara_nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 0%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

#apsara_nav>p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    background-color:red;
    color:black; margin: 5px;
}

#apsara_main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
}

#apsara_article {
    display: flex;
    flex-direction: column;
}

#apsara_aside {
    display: flex;
}

footer {
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
}